@font-face {
    font-family: "cafe24ssurroundair";
    src: url(font/Cafe24SsurroundAir.ttf);
}
@font-face {
    font-family: "cafe24ssurround";
    src: url(font/Cafe24Ssurround.ttf);
}

body{
    font-family: "cafe24ssurroundair";
    font-size: 18px;
}